---
import CanvasBackground from "../components/CanvasBackground";
---

<section id="about" class="text-center space-y-4 pt-10">
  <CanvasBackground client:load />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-24 h-24 mx-auto text-purple-400 animate-pulse"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 10h11m4 0h2m-6 5a5 5 0 100-10 5 5 0 000 10z"></path>
  </svg>
  <h2 class="text-4xl font-bold animate-fade-in-down">
    Software Developer & Electronics Enthusiast
  </h2>
  <p class="text-xl text-gray-400 animate-fade-in-up">
    Bridging the gap between hardware and software
  </p>
</section>
