---
import { Mail, Linkedin, Github } from "lucide-react";
---

<section id="contact" class="text-center space-y-4 pb-10">
  <h3 class="text-2xl font-bold">Get in Touch</h3>
  <div class="flex flex-wrap justify-center gap-4">
    <a
      href="mailto:dev.arboleda@gmail.com"
      class="text-purple-400 border-purple-400 border hover:bg-purple-400 hover:text-gray-900 transition-colors duration-300 px-4 py-2 rounded inline-flex items-center"
    >
      <Mail />
    </a>
    <a
      href="https://www.linkedin.com/in/sebasti%C3%A1n-arboleda/"
      target="_blank"
      class="text-blue-400 border-blue-400 border hover:bg-blue-400 hover:text-gray-900 transition-colors duration-300 px-4 py-2 rounded inline-flex items-center"
    >
      <Linkedin />
    </a>
    <a
      href="https://github.com/Sbas0611"
      target="_blank"
      class="text-purple-400 border-purple-400 border hover:bg-purple-400 hover:text-gray-900 transition-colors duration-300 px-4 py-2 rounded inline-flex items-center"
    >
      <Github />
    </a>
  </div>
</section>
