---
const scrollTo = (id: string): void => {
  const element = document.getElementById(id);
  if (element) {
    element.scrollIntoView({ behavior: "smooth" });
  }
};
---

<header
  class="fixed top-0 left-0 right-0 z-50 bg-gray-900/80 backdrop-blur-md shadow-lg"
>
  <div class="max-w-4xl mx-auto px-6 py-4 flex items-center justify-between">
    <h1 class="text-3xl font-bold text-purple-400">Jane Doe</h1>
    <nav class="hidden md:flex space-x-4">
      <button
        onclick={() => {
          console.log("Navegando a la sección About");
          scrollTo("about");
        }}
        class="text-gray-300 hover:text-purple-400"
      >
        About
      </button>

      <button
        onClick={() => scrollTo("skills")}
        class="text-gray-300 hover:text-purple-400">Skills</button
      >
      <button
        onClick={() => scrollTo("projects")}
        class="text-gray-300 hover:text-purple-400">Projects</button
      >
    </nav>
  </div>
</header>
