---
const { title, description } = Astro.props;
---

<div
  class="bg-gray-800 border-purple-400 border transform hover:scale-105 transition-transform duration-300 p-4 rounded-lg"
>
  <h4 class="flex items-center text-cyan-400">{title}</h4>
  <p class="text-gray-300">{description}</p>
</div>
